*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Sarabun', sans-serif;
}

header{
    background-color: #F6F4F3;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav > ul{
    display: flex;
}

li{                                    
    background-color: #276FBF;
    text-align: center;
    line-height: 50px;
    display: inline-block;
}

a{
    color: #F6F4F3;
    width: 100px;
    height: 50px;
    display: block;
    text-decoration: none;
    font-size: 20px;
}

li:hover{
    background-color: #115aad;
}

.container{
    width: 80%;
    margin: 0 auto;
    height: auto;
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    /* min-width: 100px; */
}

.box{
    width: 100px;
    height: 50px;
    background-color: aqua;
    min-width: 350px;
}


.section1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    background-color: antiquewhite;
    min-width: 350px;
}

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #141414;
    color: aliceblue;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position:relative;
    overflow: hidden;
}

.btn span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.btn.uno::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #115aad;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.btn.dos::after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 80px solid #286cff;
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all
}

.btn.tres::after{
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .3s ease-in-out all;
    border-radius: 100%;
    transform-origin: center;
}

.btn.cuatro span{
    transition: .4s ease-in-out all;
    position: absolute;
    left: 43%;
}

.btn.cuatro .icono{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -40px;
    transition: .3s ease-in-out all;
    opacity: 0;
}

.btn.cuatro:hover{
    background-color: #2f9b05;
}

.btn.cuatro:hover .icono{
    left: 90%;
    opacity: 1;
}

.btn.cinco svg{
    color: #F6F4F3;
    width: 35px;
    height: 35px;
}

.btn.cinco{
    background: none;
    color: #141414;

}

.btn.cinco svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.btn.cinco rect{
    width: 100%;
    height: 100%;
    stroke: #141414;
    stroke-width: 10px;
    stroke-dasharray: 1415;
    stroke-dashoffset: 1416;
    transition: .5s ease all;
}

.btn.cinco:hover rect{
    stroke-dashoffset: 0;
}

.btn.cuatro:hover span{
    left: 40px;
}

.btn.uno:hover::after{
    top: 0;
}

.btn.dos:hover::after{
    left: 0;
}

.btn.tres:hover::after{
    transform: scale(300);
    background: #cc1010;
}

.btn.tres:hover{
    background-color: #960909;
}

@media all and (max-width: 800px){
    header{
        justify-content: space-around;
    }
    .container{
        width: 100%;
        flex-direction: column;
    }
    .container > .box{
        width: 100%;
    }
    .logo{
        display: none;
    }
}